

  @import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600&display=swap');

  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 98vh;
    background-color: white;
    padding-top: px;
   
}

header{
    width: 100%;
    padding: 40px 4%;
    background-color: rgb(28, 99, 0) ; 
    height: 120px;
    position: fixed;
}

.interface {
    max-height: 1280px;
    margin: 0 auto;
}

header > .interface{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .texto h1 {
    font-family: 'Bebas Neue', sans-serif;;
    padding: 2px 0 ;
}

header .texto h1:hover{
    filter: drop-shadow(0px 0px 3px white);
    transform: scale(1.05);
    cursor: pointer;
}

.texto .line{
    color:rgb(255, 255, 255) ;
    line-height: 1px;
}

header .texto .line:hover{
    filter: drop-shadow(0px 0px 3px white);
    transform: scale(1.05);
    cursor: pointer;
}

.texto h1{
    color:rgb(255, 255, 255) ;

}

header nav ul li{
    display: inline-block;
    list-style-type: none;
}

header a {
    display: inline-block;
    text-decoration: none;
    color: rgba(255, 248, 248, 0.596);
    padding: 0 16px;
    transition: .2s;
    font-family: 'Figtree', sans-serif;
    
}

header a:hover{
    color: white;
    transform: scale(1.05);
}


.conteudo{
    padding: 0px 4%;


}

.flex{
    display: flex;
    align-items: center; 
    gap: 80px;
    padding-top: 190px;
}



.conteudotxt > h1{
    line-height: 25px;
   
}

.conteudotxt > p{
    padding-top: 20px;
}


.conteudo .conteudoimg img{
    display: flex; 
    height: 250px;
    border-radius: 20%;
    
    
}

section.meio .caixabox{
    padding: 15px;
    border-radius: 20px;
    transition: .2s;
}

section.meio .caixabox:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgb(28, 99, 0);
}

section.meio .flex{
    margin-top: 0px;
}

.caixabox i{
    font-size: 40px;
    color:rgb(28, 99, 0) ;

}

.caixabox h3{
    font-size: 20px;
    margin: 15px 0;
}


@media screen and (max-width:691px) {

    header{
        padding: 20px 4%;
    }
    
    header .interface{
        flex-direction: column;
    }
    
    header .texto {
        padding-bottom:25px ;
        
    }


    header nav ul li{
        height: 30px;

    }


    header a{
        font-size: 12px;
        color: rgb(255, 255, 255);
        
    }


    .conteudo .flex{
        flex-direction: column-reverse;
    }

}

@media  screen and (max-width:372px) {
    header > .interface{
       height: 100px; 
    }

    header nav{
        height: 80px;
    }

    header nav ul {
        display: flex;
    }


   header a{
        font-size: 10px;
        padding-top: 30px;
        display: flex;
    }
    
}