*{
    margin: 0;
    padding: 0;
}

body {
    height: 98vh;
}

header .interface{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sites{
    display: inline-block;
}